.pageContaienr {
  z-index: 1;
}
.limitContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.mainHeder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3.4rem;
  height: 90vh;
  padding-left: 90px;
  padding-top: 100px;
  background: linear-gradient(
    87deg,
    #005683 55.94%,
    #005683 55.94%,
    #238abe 75.96%
  );
}
.textHolder {
  display: flex;
  max-width: 560px;
  gap: 2rem;
  color: white;
  flex-direction: column;
}
.textHolder h1 {
  font-size: 3rem;
  font-weight: 500;
  text-align: left;
}
.textHolder h2 {
  font-weight: 500;
  text-align: left;
  font-size: 1.25rem;
}
.buttonsHolder {
  display: flex;
  gap: 1rem;
}

/* Second section style */

.secondSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 90px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.secondSection h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 2rem;
}
.secondSection p {
  font-size: 1.25rem;
  font-weight: 500;
}
.cardsHolder {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 4.375rem;
}
.imgHolder {
  max-width: 350px;
}
.imgHolder img {
  width: 100%;
}
.card {
  max-width: 326px;
  height: 400px;
  padding: 2rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.160784);
  border-radius: 12px;
}
.card h1 {
  font-size: 2rem;
  line-height: 3rem;
}
.card h2 {
  font-size: 1rem;
  color: var(--accent);
}
.card p {
  text-align: center;
  color: var(--text);
  font-size: 1rem;
  max-width: 75%;
}
.card b {
  font-weight: 500;
  color: var(--accent);
}

/* Third section style */
.blueHolder {
  background-color: #005683;
  width: 100%;
  position: absolute;
  bottom: -3rem;
  color: white;
  border-radius: 0px 0px 12px 12px;
  padding: 1rem;
  text-align: center;
}
.smallLink {
  color: var(--text);
  font-size: 0.85rem !important;
}
.thirdSection {
  display: flex;
  padding-left: 90px;
  align-items: center;
  justify-content: space-between;
  padding-right: 40px;
}
.thirdSection .left p {
  font-size: 1.25rem;
  font-weight: 500;
  max-width: 482px;
}
.thirdSection .left h1 {
  font-size: 3rem;
  font-weight: 500;
}
.text p {
  font-size: 1rem;
  color: var(--text);
  margin: 50px 0px;
}
.mapHolder {
  max-width: 732.01px;
}
.mapHolder img {
  width: 100%;
}
.clientsHolder {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.blueExtension {
  background-color: rebeccapurple;
}
.codeHolder {
  display: flex;
  padding-left: 90px;
  padding-top: 100px;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 50px;
}

.codeText h1 {
  font-size: 3rem;
  font-weight: 500;
}
.codeText p {
  font-size: 1rem;
  color: var(--text);
  margin: 50px 0px;
  max-width: 50%;
}
.code {
  background-color: var(--text);
  width: 450px;
  height: 450px;
  border-radius: 12px;
}
.codeText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 750px;
  justify-content: center;
}
.codeText h2 {
  font-size: 1rem;
  color: var(--accent);
}
/* BigBanner holder */
.bigBannerContainer {
  display: flex;
  max-width: 1080px;
  flex-direction: column;

  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.160784);
  border-radius: 12px;
  align-items: center;
  margin-top: 50px;
  justify-content: center;

  min-width: 350px;
}
.upperTextHolder {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  flex-direction: row;
}
.bigBannerLeft {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.upperTextHolder h3 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 3rem;
  max-width: 70%;
}
.upperTextHolder h2 {
  font-size: 1.25rem;
  font-weight: 500;
}
.upperTextHolder p {
  font-size: 1.25rem;
  font-weight: 500;
  max-width: 482px;
  color: #005683;

  margin-bottom: 1rem;
}
.bigBannerRight {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.bigBannerRight ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  padding: 0rem;
  margin: 0rem;
}
.bigBannerRight ul li {
  position: relative;
}
.bigBannerRight ul li::before {
  content: " ";
  width: 15px;
  left: -1.5rem;

  top: 0.25rem;
  height: 15px;
  border-radius: 100rem;
  background-color: green;
  position: absolute;
}
.bigBannerRight p {
  font-size: 1.5rem;
  color: var(--text);
}
.downTextHolder {
  border-radius: 0px 0px 12px 12px;
  width: 100%;
  padding: 1rem;
  background-color: #005683;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.smallSolution {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  max-width: 350px;
}

.smallSolutionsContainer h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
.smallSolutionsContainer h3 {
  font-size: 2.5rem;
  font-weight: 500;
}
.smallSolutionsContainer p {
  font-size: 1rem;
  color: #238abe;
  max-width: 80%;
  text-align: center;
}
.smallSolutionsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.largeButtonHolder {
  min-width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.largeButtonHolder button {
  width: 100%;
}

.smallSolutionsHolder {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 100px;
  gap: 50px;
  justify-content: center;
}
.smallSolution h4 {
  font-size: 1.25rem;
  text-align: left;
  font-weight: 500;
}
.smallSolution p {
  font-size: 1.25rem;
  color: #238abe;
  text-align: left;
}

@media only screen and (max-width: 950px) {
  .upperTextHolder {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .upperTextHolder h3 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .upperTextHolder p {
    font-size: 1rem;
  }
  .bigBannerContainer {
    max-width: 340px;
  }
  .mainHeder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: 2rem;
    background: linear-gradient(
      87deg,
      #005683 55.94%,
      #005683 55.94%,
      #238abe 75.96%
    );
    position: relative;
  }
  .buttonsHolder {
    flex-direction: column;
  }
  .mainHeroImgHolder {
    position: relative;
  }
  .mainHeroImgHolder img {
    width: 100%;
  }
  .textHolder {
    display: flex;
    max-width: 560px;
    gap: 2rem;
    color: white;
    flex-direction: column;
  }
  .textHolder h1 {
    font-size: 2.5rem;
    font-weight: 500;

    text-align: left;
  }
  .textHolder h2 {
    font-weight: 500;
    text-align: left;
    font-size: 1rem;
  }

  /* Second section style */

  .secondSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .secondSection h1 {
    font-size: 2.5rem;
    padding-left: 40px;
    font-weight: 500;
    line-height: 2.5rem;
  }
  .secondSection p {
    font-size: 1rem;
    padding-left: 40px;
    font-weight: 500;
  }
  .cardsHolder {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 4.375rem;
  }
  .card {
    max-width: 300px;
    height: 400px;
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;

    background: #ffffff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.160784);
    border-radius: 12px;
  }
  .card h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0rem;
  }
  .card h2 {
    font-size: 1rem;
    color: var(--accent);
  }
  .card p {
    font-size: 1rem;
    max-width: 90%;
    padding: 0rem;
  }
  .thirdSection {
    display: flex;
    padding-left: 40px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 40px;
  }
  .clientsHolder {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .clientsHolder img {
    max-width: 50px;
  }

  /*  */
  .codeHolder {
    display: flex;
    padding-left: 0;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 50px;
  }

  .codeText h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 500;
  }
  .codeText p {
    font-size: 1rem;
    color: var(--text);
    margin: 50px 0px;
    max-width: 100%;
  }
  .code {
    background-color: var(--text);
    width: 300px;
    height: 300px;
    border-radius: 12px;
  }
  .codeText {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    max-width: 750px;
    justify-content: center;
  }
  .codeText h2 {
    font-size: 1rem;
    color: var(--accent);
  }
}
.stepsHolder {
  display: flex;

  flex-direction: column;

  align-items: flex-start;

  gap: 1rem;
  margin-bottom: 50px;
}
.stepsHolder ol {
  color: var(--text);
  font-size: inherit;
  padding-left: 1rem;
}

.stepsHolder p {
  max-width: 100%;
  margin: 0px !important;
}
