@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary: #2d7ad8;
  --secondary: #d1e7fe;
  --text: #435288;
  --accent: #E8490E;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}


.buttonOrange{
  border-radius:19px;
  padding: 0.5rem 1rem;
  background: var(--accent);
  border: none;
  color: white;
  font-size: 1rem;
}
.buttonTransparent{
  border-radius:19px;
  padding: 0.5rem 1rem;
  background: #00558300;
  border: none;
  color: white;
  border: 1px solid #E8490E;
  min-width: 125px;
  font-size: 1rem;
}
.buttonOrange:hover{
  scale: 0.95;
  cursor: pointer;
  transition: all 0.3s;
}
.buttonTransparent:hover{
  scale: 0.95;
  cursor: pointer;
  transition: all 0.3s;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #238abe #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #238abe;
    border-radius: 8px;
    border: 0px none #ffffff;
  }